
@{
    ViewBag.Title = "FeedackShow";
}

<h2>FeedackShow</h2>
Name==
@ViewBag.St.Name
<br />
Gender==
@ViewBag.St.gender
<br />
Course==
@ViewBag.St.courses
<br />
Rating==
@ViewBag.St.Ratings
<br />
Sugeesion==
@ViewBag.St.sugesstion
<br />
Time==
@DateTime.Now;

<h2>Thanks @ViewBag.St.Name for sharing feedback</h2>

